.vermas-button{
    background:  rgb(111, 9, 96);
    text-decoration: none; 
    text-align: center; 
    justify-content: center; 
    display: flex;
    /* height:3.3vh;
    width: 5vw; */
}

.h-img{
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

.details-img-container{
    background-size: cover;
    width: 50rem;
    background-color: rgba(255, 255, 255, 0.816);
    padding: 1rem;

}

.details-img{
    width: 100%;
    justify-self: center;
    object-fit: cover;
    box-shadow: 4px 4px 10px -2px #735d7473;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}



.nav-link{
    background-color: rgb(212, 45, 187); 
}

.anterior{
    font-size: 3em; 
    color: #fff;
}

.posterior{
    font-size: 3em;
    color: #fff;
}


.m-1{
    padding-left: 1vw; 
    font-size: 1.2em; 
    display: inline-block;
}
